/* styles.css */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card-content {
    margin-top: 12px;
  }
  
  .card-title {
    font-size: 20px;
    margin: 0;
  }
  
  .card-text {
    font-size: 14px;
  }

  .card-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .finance{
    display: flex;
    justify-content: space-around;
  }
  .finance span{
    color: #908e8e;
    
  }

  .changePrice{
    font-size: 10px;
    padding-top: 3px;
  }

  .arrow{
    height: 12px;
    width: 12px;
    padding: 0px 2px 0px 4px;
  }